<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Phaser Game template</title>
        <meta name="Author" value="Pello Altadill" />
        <script src="phaser.min.js"></script>
        <script src="index.min.js"></script>
        <style type="text/css">
            body,html {
                margin: 0px;
                position: relative;
                background-color: #00dead;
            }
            canvas {
                margin: auto;
            }
        </style>
    </head>
    <body>
    </body>
</html>
