/* Apply a flex container to the <body> to center its children */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    margin: 0;
    background-color: rgb(250, 193, 132);
    font-family: 'Ostrich Sans', Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: 'Ostrich Sans';
    src: url('../fonts/OstrichSans-Heavy.woff2') format('woff2'),
        url('../fonts/OstrichSans-Heavy.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.title {
    font-size: 5em;
    color: rgb(119, 207, 242);
    text-align: center;
    text-shadow: 2px 2px rgb(83, 157, 219);
}

 h2 {
    font-size: 4em;
    font-family: 'Ostrich Sans', Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(246, 136, 21);
    text-align: center;
}

/* Create a two-column layout using flex */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

/* Style the left column for the logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.number {
    margin-top: 15px;
    font-size: 12em;
    font-family: 'Ostrich Sans','Gang of Three', Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}


.floating-div {
  position: absolute;
  width: 80px;
  height: 80px;

}
/* Center the form in the right column */
.form-container {
    padding: 0 10px;


    text-align: center;
}

/* Add some spacing between form elements */
.form-container > * {
    margin-bottom: 10px;
}
label {
    color: rgb(246, 136, 21);

}
/* Style form elements */
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(246, 136, 21);
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    color:  rgb(246, 136, 21);

    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(239, 143, 151);
    color: white;
}

a {
    color: rgb(246, 136, 21);
}



footer {
    clear: both;
    text-align: center;
    color: rgb(246, 136, 21);
}
