/* Apply a flex container to the <body> to center its children */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    margin: 0;
    font-family: 'Staatliches', cursive;
    background-color: #914104
}

.title {
    font-size: 3em;
    font-family: 'Staatliches', Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    color: rgb(253, 186, 33);
}

h1, h2 {
    color: #914104;
    font-family: 'Staatliches', Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    text-align: center;
}

/* Create a two-column layout using flex */
.container {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Style the left column for the logo */
.logo {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Center the form in the right column */
.form-container {
    flex: 2;
    padding: 20px;
    border: 1px solid #fdba21;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(253, 186, 33);
}

/* Add some spacing between form elements */
.form-container > * {
    margin-bottom: 10px;
}
label {
    color: #914104
}
/* Style form elements */
input, textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #fdba21;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color:     #fb9204;
    color: #914104;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color:#914104;
}

a {
    color:#914104;
}

.list-row {
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

}

.list {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border: 1px solid #fdba21;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(253, 186, 33);
}

.list-item {
    margin: 5px 0;
    color: #914104
}

footer {
    clear: both;
    text-align: center;
}
