/* Apply a flex container to the <body> to center its children */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    font-family: 'thicccboibold';
}

@font-face {
    font-family: 'thicccboibold';
    src: url('../fonts/thicccboi-bold-webfont.woff2') format('woff2'),
         url('../fonts/thicccboi-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2 {
    color: rgb(73, 158, 243);
    font-family: 'Creepster', cursive,Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    text-align: center;
}

/* Create a two-column layout using flex */
.container {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Style the left column for the logo */
.logo {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Center the form in the right column */
.form-container {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: rgb(73, 158, 243);
    background-color: rgb(14, 77, 138);

}

/* Add some spacing between form elements */
.form-container > * {
    margin-bottom: 10px;
}
label {
    color: rgb(73, 158, 243);
}
/* Style form elements */
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color:rgb(14, 77, 138);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color:rgb(73, 158, 243);
}

a {
    color:rgb(14, 77, 138);
}

.list-row {
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

}

.list {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(143, 20, 31)
}

.list-item {
    margin: 5px 0;
    color: rgb(239, 143, 151);
}

footer {
    clear: both;
    text-align: center;
}
